<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="text-center px-3 py-4 my-4">
            <h1 class="d-block mb-3 text-success display-1"><i class="fa fa-check-circle"></i></h1>
            <h1 class="display-4 font-weight-bold">Kondisi Aman</h1>
            <p class="lead">Kebakaran sering terjadi di sekitar kita. Penyebabnya dapat dikarenakan berbagai faktor seperti hubungan listrik arus pendek, adanya api yang menjalar, dan masih banyak lainnya.Jadi tetap hati-hati dalam menjalani hidup.</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>