@{
    ViewData["Title"] = "Deteksi Api";
}
<div class="text">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>Selamat Datang di Web Deteksi Api</h1>
        </div>
        <div class="col-2"></div>
    </div>
</div>