@{
    ViewData["Title"] = "Anggota Kelompok";
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="text-center">
            <h1 class="my-3 display-4">Anggota Kelompok : </h1>
            <ul class="list-group">
                <li class="list-group-item">Dicky Maulana Ramadhan</li>
                <li class="list-group-item">Muhammad Khaerul Muna</li>
                <li class="list-group-item">Rafi gunawan</li>
                <li class="list-group-item">Aldila Nur Hidayatullah</li>
                <li class="list-group-item">Muhammad Aldani Seva Pratama</li>
            </ul>
        </div>
    </div>
    <div class="col-2"></div>
</div>
